*{
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #333333;
    --roxo: #483dad;
    --vermelho: #ff0000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
   background-color: var(--cinza);
   color: var(--branco);
    width: 300px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 25px;
}
.principal{
    background-color: var(--branco);
    min-height: 100vh;
    width: calc(100vw - 300px);
}

.app{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;

    background-color: rgb(63, 166, 250);
}

#logo{
    width: 150px;
    border-radius: 50%;
}

.contadores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#contador-atividades, #contador-co2{
    text-align: center;
    font-size: 32px;
}

#painel-atividades{
    height: 50vh;

}

#btlogin{
    background-color: var(--cinza);
    color: var(--branco);
    padding: 5px;
    border-radius: 5px;
}

.seletor-veiculos{
  background-color: var(--cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.seletor-veiculos button{
    background-color: var(--cinza);
    color: var(--branco);
    border: none;
}